@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    background: #eee
}

/* ----- MENU HOME ------  */

.frete-topo {
    position: fixed;
    display: flex;
    font-family: 'Bree Serif', serif;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    padding: 5px;
    background: rgb(165, 164, 164);
    font-size: 12px;
    width: 100%;
    z-index: 30;
}
.frete-topo a {
    padding-left: 10px;
    color: black;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
.menu-topo {
    padding-top: 29px;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 30;
}
.menu-indice {
    display: flex;
    gap: 40px;
    align-items: center;
    background: white;
    color: black;
}
.menu-indice a {
    color: black;
}
.menu-indice a:hover {
    color: #808080;
}

.logo {
    margin-left: 50px;
    margin-top: 10px;
}
.menu-imagens {
    display: flex;
    padding-left: 100px;
    gap: 50px;
    justify-content: flex-end;
    text-decoration: none;
}

/* ----- MENU PAINEL HOME -----  */

.menu-img-painel {
    width: 100%;
    padding: 0;
    padding-top: 109px;    
}
.img-painel {
    width: 100%;
    position:absolute;
    height: 256px;
}
.texto-img-painel {
    margin-top: 50px;
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.texto-img-painel h1 {
    margin-bottom: 20px;
    font-size: 25px;
}
.texto-img-painel h2 {
    font-size: 40px;
}
.menu-espaco {
    padding: 45px;
}

/* ----- MENU PAGAMENTO -----  */

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);    
}
.grid-box {
    display: flex;
    margin-top: 30px;
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    gap: 20px;
    padding-left: 2px;
    margin-bottom: 50px;
}
.grid-text-top {
    padding-top: 20px;
    font-size: 20px;
}
.grid-text-bottom {
    padding-bottom: 20px;
    font-size: 15px;
}
.grid-pag {
    border-left: solid rgb(166, 240, 252) 3px;
    border-right: solid #eee 2px;
    padding-left: 50px;
    padding-right: 20px; 
}
.grid-img {
    padding-top: 20px;
}
.grid div a {
    color: rgb(119, 160, 167);
}
.grid div a:hover {
    color: rgb(30, 232, 247);
}

/* ----- CARDS ------  */

.cards-box-all {
    cursor: pointer;
}
.cards-titulo {
    display: flex;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 50px;
    padding-bottom: 20px;
}
.cards-titulo a {
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(119, 160, 167);
}
.grid-cards-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.grid-cards-one {
    display: flex;
    background: white;
    padding-left: 20px;
}
.grid-cards {
    display: flex;
    background: white;
    padding-left: 20px;
    padding-top: 10px;  
}
.cards-valor {
    padding-left: 20px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.cards-parcela {
    padding-left: 20px;
    border-bottom: solid white 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.cards-msg {
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.cards-espaco {
    padding: 30px;
}
.grid-cards:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.grid-cards-one:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.swiper {
    width: 90%;
}
.swiper-button-next,
.swiper-button-prev {
    padding-top: 325px;
}
.swiper-pagination {
    display: block;
    position: relative !important;
    padding-top: 20px;
}
.swiper-button-next-two,
.swiper-button-prev-two {
    padding-top: 355px;
}

/* ----- INFORMAÇÕES IMPORTANTES ------  */

.info-grid-content {
    display: flex;
    width: 90%;
    margin-left: 61px;
    border-radius: 10px;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    justify-items: center;
    border-left: #808080 solid 1px;
    border-radius: 1px;
    background: white;
    text-align: center;
}
.info-text-titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
.info-text {
    margin-left: 20px;
    margin-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-right: 20px;
}
.info-grid img {
    width: 100px;
    justify-items: center;
    padding: 10px;
    padding-top: 20px;
}

.grid-cards-main-two {
    width: 95%;
    border: red solid 50px;
}

.grid-cards-two {
    display: flex;
    background: white;
    padding-left: 20px;
    padding-top: 10px;
    border: red solid 10px;  
}




.nadaa {
    border: red solid 120px;
}