.conteiner-super-box {
    height: 800px;
    background: #eee;
    justify-content: center;
    display: flex;
}




.conteiner-box {
    justify-content: center;
    width: 100%;
    display: flex;
    padding-bottom: 50px;
}
.box {
    display: flex;  
}
.img-cards-box {
    top: 30px;
    left: 150px;
    text-align: center;
    background: white;
    border-radius: 15px;
}

.box-cards img {
    border-bottom: #eee solid 1px;
    padding-top: 30px;
}
.img-cards-box h3{
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 90px;
}
.box-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}



.grid-valor h2{
    padding-top: 20px;
}
.grid-valor {
    border: #eee solid 1px ;
    border-radius: 15px;
    width: 450px;
    height: 500px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 100px;
}
.grid-valor-novo {
    text-align: left;
    margin-left: 45px;
    color: rgba(141, 141, 141, 0.933);
    margin-top: 10px;
}
.cards-valor-two,
.grid-parcela,
.grid-valor-promo-one,
.quantidade,
.estoque,
.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.grid-valor-promo-one {
    font-size: 20px;
    text-decoration: line-through;
    padding-left: 45px;
    text-align: left;
}

.grid-valor-two {
    padding-top: 50px;
    font-size: 35px;
    padding-left: 45px;
    text-align: left;
}
.grid-parcela {
    border-bottom: solid white 5px;
    padding-left: 45px;
    text-align: left;
}
.grid-valor-link div {
    text-align: left;
    padding-left: 45px;
    padding-top: 10px;
    color: rgb(119, 160, 167);
}
.estoque {
    font-size: 25px;
    padding-top: 35px;
}
.quantidade {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}


@media (max-width: 900px) {
    .box-cards {
        grid-template-columns: repeat(1, 3fr);
        display: block;
    }
    .conteiner-super-box {
        height: 1300px;
    }
}




/*-------- BUTTON -------- */
html, body{
height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}



























.espaco-box-two {
    padding: 100px;
    background: red;
}