@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    background: #eee
}

/* ---------- MENU HOME ----------  */

.frete-topo {
    position: fixed;
    display: flex;
    font-family: 'Bree Serif', serif;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    padding: 5px;
    background: rgb(165, 164, 164);
    font-size: 12px;
    width: 100%;
    z-index: 30;
}
.frete-topo a {
    padding-left: 10px;
    color: black;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
.menu-topo {
    padding-top: 29px;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 30;
    width: 100%;
}
.menu-indice {
    display: inline-flex;
    gap: 40px;
    align-items: center;
    background: white;
    color: black;
    width: 100%;
    justify-content: center;
    border: solid white 5px;
}
.menu-indice a {
    color: black;
    justify-content: space-between;
}
.menu-indice a:hover {
    color: #808080;
}
.logo {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 100px;
}
.menu-imagens {
    display: inline-flex;
    padding-right: 50px;
    padding-left: 100px;
    gap: 50px;
    justify-content: space-between ;
    text-decoration: none;
    cursor: pointer;
}
.menu-imagens li img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* ---------- MENU PAINEL HOME ----------  */

.menu-img-painel {
    width: 100%;
    padding: 0;
    padding-top: 109px;    
}
.img-painel {
    width: 100%;
    position:absolute;
    height: 256px;
}
.texto-img-painel {
    margin-top: 50px;
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.texto-img-painel h1 {
    margin-bottom: 20px;
    font-size: 25px;
}
.texto-img-painel h2 {
    font-size: 40px;
}
.menu-espaco {
    padding: 45px;
}

/* ---------- MENU PAGAMENTO ----------  */

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);   
}
.grid-menu-teste {
    justify-content: center;
    display: flex;
}
.grid-box {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;  
}
.grid-menu-all {    
    display: flex;
    border-radius: 5px;
    gap: 30px;
    background: white;
    padding-right: 30px; 
}
.grid-text-top {
    padding-top: 20px;
    font-size: 20px;
}
.grid-text-bottom {
    padding-bottom: 20px;
    font-size: 15px;
}
.grid-pag {
    border-left: solid rgb(166, 240, 252) 3px;
    border-right: solid #eee 2px;
    padding-left: 50px;
    padding-right: 20px; 
}
.grid-img {
    padding-top: 20px;
}
.grid div a {
    color: rgb(119, 160, 167);
}
.grid div a:hover,
.cards-titulo a:hover,
.grid-valor-link div:hover {
    color: rgb(30, 232, 247);
}

/* ---------- CARDS ONE ----------  */
.cards-titulo {
    display: flex;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 50px;
    padding-bottom: 20px;
}
.cards-titulo a {
    padding-top: 10px;
    padding-left: 20px;
    color: #808080;
}
.grid-cards-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.grid-cards-one {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 390px !important;
    text-align: left;
}
.grid-cards {
    display: flex;
    background: white;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 390px !important;
    text-align: left;
}
.img-cards-one {
    text-align: center;
    border-bottom: solid #eeecec 1px;
}
.cards-valor,
.cards-parcela,
.cards-msg {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.cards-valor-promo-one {
    font-size: 20px;
    text-decoration: line-through;
    padding-left: 30px;
}

.cards-valor {
    font-size: 25px;
    padding-left: 30px;
}
.cards-parcela {
    border-bottom: solid white 5px;
    padding-left: 30px;
}
.cards-msg {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.cards-espaco {
    padding: 30px;
}
.grid-cards:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.grid-cards-one:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.swiper {
    width: 90%;
}
.swiper-button-next,
.swiper-button-prev {
    padding-top: 325px;
}
.swiper-pagination {
    display: block;
    position: relative !important;
    padding-top: 20px;
}
.swiper-button-next-two,
.swiper-button-prev-two {
    padding-top: 355px;
}

/* ---------- INFORMAÇÕES IMPORTANTES ----------  */
.info-text-titulo,
.info-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-grid-content {
    display: grid;
    width: 100%;
    padding-left: 61px;
    border-radius: 10px;
    background: white;
    padding: 50px;
    justify-content: center;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    border-left: #cacaca solid 1px;
    border-radius: 1px;
    text-align: center;
}
.info-grid-all {
    display: flex;
    align-items: stretch;
}
.info-text-titulo {
    font-size: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
.info-text {
    margin-left: 20px;
    margin-bottom: 100px;
    font-size: 20px;
    margin-right: 20px;
    color: #808080;
}
.info-grid img {
    width: 100px;
    justify-items: center;
    padding: 10px;
    padding-top: 20px;
}

/* ---------- GRID TWO ----------  */

.container-two {
 padding-left: 50px;
 justify-items: center;
 justify-content: center;
}
.grid-cards-box-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
}
.grid-cards-two {
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
    text-align: left;
    width: 280px;
    height: 380px;
    cursor: pointer;
}
.grid-cards-two:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.grid-cards-one-two:hover {
    box-shadow: 0 0 1em rgb(177, 175, 175);
}
.cards-valor-two,
.cards-msg-two,
.cards-parcela-two,
.cards-valor-promo-two {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.cards-valor-two {
    font-size: 25px;
    padding-left: 30px;
}
.cards-valor-promo-two {
    font-size: 20px;
    text-decoration: line-through;
    padding-left: 30px;
}
.cards-parcela-two {
    border-bottom: solid white 5px;
    padding-left: 30px;
}
.cards-msg-two {
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.img-cards-two {
    text-align: center;
    border-bottom: solid #eeecec 1px;
}
.close-menu {
    display: none;
}


@media (max-width: 1000px) {
    .grid-cards-box-two {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    .grid-cards-box-two {
        grid-template-columns: repeat(2, 1fr);
    }
    .info-grid-all {
        display: block;
    }
    .grid-menu-all {    
        display: block;
        justify-content: center;
        text-align: center;
        padding-right: 2px !important;
    }
    .grid {
        border-left: solid rgb(166, 240, 252) 3px;
        border-right: solid #eee 2px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        padding-top: 750px;
    }
}
@media (max-width: 800px) {
    .grid-cards-box-two {
        grid-template-columns: repeat(1, 1fr);
    }
    .logo {
        margin-left: 0 !important;
    }
    .menu-imagens {
        justify-content: center !important;
        display: flex;
    }
    .container-two {
        padding: 0;
    }
    .menu-imagens ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .menu-indice {
        bottom: 0;
        height: 100vh;
        display: block;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .menu-indice li {
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 25px;
    }
    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 40;
        top: 50px;
        right: 20px;
        background: rgba(151, 148, 148, 0.397);
        padding-right: 10px;
        padding-left: 10px;
        margin: 0;
        color: black;
        font-size: 30px;
        cursor: pointer;
    }
    .close-menu:checked~.menuu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .menuu {
        display: none;
    }
    .texto-img-painel h1 {
        font-size: 20px ;
    }
    .texto-img-painel h2 {
        font-size: 30px ;
    }
    .grid-cards-one,
    .grid-cards {
        width: 100% !important;
    }
    .rodape-conteiner {
        display: block !important;
    }
    .rodape-box {
        padding-bottom: 10px;
    }
    

    








}




/* ---------- RODAPE ----------  */

.rodape-frase {
    text-align: center;
    font-size: 20px;
    background: white;
    display: flex;
    justify-content: center;
}
.rodape-frase div {
    border-top: rgba(151, 148, 148, 0.397) solid 1px;
    width: 50%;
    padding-top: 20px;
}
.rodape-conteiner {
    padding: 50px;
    background: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}
.rodape-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.rodape-box img {
    padding-right: 10px;
}
.rodape-box a div {
    color: black;
}
